<?xml version="1.0" encoding="UTF-8"?>  
<configuration advertiser="multicastdns">  
  <appenders>  
  
    <Console name="Console" target="SYSTEM_OUT">  
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>  
    </Console>  
     <File name="MyFile" fileName="logs/app.log" append="true">
      <PatternLayout>
        <pattern>%d %p %c{1.} [%t] %m%n</pattern>
      </PatternLayout>
    </File> 
  </appenders>  
  <loggers>  
  <logger name="com.sy.log4jtest.Bar" level="trace" additivity="false">  
      <appender-ref ref="MyFile"/>  
    </logger>  
    <logger name="com.sy.log4jtest.log4j" level="trace" additivity="false">  
      <appender-ref ref="MyFile"/>  
    </logger>
     <root level="error">  
      <appender-ref ref="MyFile"/>  
    </root>    
  </loggers>  
</configuration>

